.single {
  .content {
    p {
      line-height: 2.5;
    }
  }

  .post-meta-line {
    line-height: 2.5;
  }
}

.archive .single-title {
  text-align: center;
}

.special .single-title {
  text-align: center;
}

.single .post-footer .post-nav a.prev {
  float: right;
}

.single .post-footer .post-nav a.next {
  float: left;
}

.home .home-profile {
    display: inline;
}